<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>fetch数据请求</title>
</head>
<body>
  <div id="app">
      <input type="text" placeholder="用户名" v-model="username" /> </br>
      <input type="password" placeholder="密码" v-model="password" /> </br>
      <button @click="login">提交</button>
  </div>
</body>
<script src="vue.js"></script>
<script src="axios.min.js"></script>
<script>
  new Vue({
    el: '#app',
    data: {
      username:'',
      password: ''
    },
    methods: {
      login () {
        axios.post('https://www.daxunxun.com/users/login', {
        username:this.username,
        password:this.password
      }).then(res => {
        console.log(res.data)
      })
      }
    }
    
  })
</script>
</html>